<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Database Login</title>
</head>
<body>
    <style>
        .status > p{
            background-color: rgb(139, 227, 139);
            border: .2em solid rgb(1, 195, 1);
            border-radius: .3em;
            padding: 9px;
            text-align: center;
        }
    </style>
    <header>
        <h1>Login/Signup</h1>
    </header>
    <div class="status">
        <p>Account created Successful</p>
    </div>
</body>
</html>